* {
  box-sizing: border-box;
  /* border: red solid 1px; */
}

.App {
  display: flex;
  /* height: 100vh;
  width: 80vw; */
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 1vmin;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: rgb(223, 202, 202);
  padding: 2vmin;
  height: 100vh;
  width: 30vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: solid black 1px;
}

.header>h1 {
  border: solid black 1px;
  background-color: white;
  padding: 10px;
  font-size: 4vmin;
  box-shadow: 5px 10px 18px #888888;
}

.about {
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  padding: 2vmin;
}

.about-links {
  display: grid;
}

.about-links>a {
  margin: 5px;
  font-size: 16px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  color: rgb(105, 155, 209);
}

/* PROJECT CARD */

.project-card{
  border: solid black 1px;
  height: 20vmin;
  width: 60vw;
  margin: 3vmin;
  padding: 2vmin;
  border-radius: 2vmin;
  box-shadow: 5px 10px 18px #888888;
}

.project-card-links {
  display: flex;
  justify-content: space-between;
  padding: 2vmin;
}

.project-card-links > a {
  text-decoration: none;
  color: black;

}

.project-card-content>img{
  width: 100%;
  height:90%;
  background-image: contain;
  border: solid black 1px;
  padding: 1vmin;
  border-radius: 1vmin;
}

.project-card-content>h1 {
  height: 10%;
  margin: 0;
  font-size: 1vmin;
  margin-bottom: 5px;
}

.project-card-content {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.project-info{
  display: flex;
  font-size: 3vmin;
  justify-content: center;
}

.project-card-content-hover {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.project-card-content-hover > img {
  background-image: contain;
  background-color: rgb(223, 202, 202);
  border-top-right-radius: 1vmin;
  border-top-left-radius: 1vmin;
  height: 50vmin;
  width: 55vmin;
  padding: 1vmin;
}

.project-card-links {
  background-color: rgb(188, 187, 187);
  border-bottom-right-radius: 1vmin;
  border-bottom-left-radius: 1vmin;
}
.project-card-content:hover .project-card-content-hover {
  display: block;
}

.project-container{
 display: flex;
 width: 100%;
 padding: 0 auto;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
}

.dropdown-content {
  border-radius: 0vmin 2vmin 2vmin 2vmin;background-color: rgb(228, 224, 224);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* HEADER */

.about>img {
  display: flex;
  justify-content: center;
  border-radius: 100%;
  margin: 5px auto;
  height: 45vh;
  width: 25vw;
  border: solid black 1px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropbtn {
  background-color: rgb(105, 155, 209);
  border-radius: 2vmin 2vmin 2vmin 0vmin;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: none;
  cursor: pointer;
  box-shadow: 5px 10px 18px #888888;
  border: solid black 1px;
}

/* Dropdown Content Hidden by Default */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: solid black 1px;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(58, 110, 166);
  box-shadow: 5px 10px 18px #888888;
}

/* SKILLS */

.skills-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}